Tests/
src/mytiktok/__pycache__/
src/mytiktok/Data/__pycache__/
src/mytiktok/Data/chrome-linux64/
src/mytiktok/Data/chromedriver-linux64/
dist/

env/
accounts/
.vscode/
*.env
*.pkl
.pytest_cache/

/*.png
things to do.txt
r.txt

/chrome_extract